<div
  kendoTooltip
  class="right"
  position="bottom"
  [title]="parameters.HelpText"
  [tooltipTemplate]="template"
  tooltipClass="tool-tip"
  showOn="none"
  #anchor
  *ngIf="!static"
>
  <kendo-label class="label" [text]="parameters.Caption" [formGroup]="formGroup">
    <span class="required" *ngIf="parameters.Required">*</span>
    <button
      class="info"
      [tabindex]="tabindex"
      (click)="toggleToolTip(anchor)"
      [attr.aria-label]="'Field Help ' + parameters.HelpText"
      type="button"
    >
      ?
    </button>
    <kendo-dropdownlist
      [data]="parameters.Options"
      textField="Plabel"
      valueField="Pvalue"
      [defaultItem]="{ text: parameters.DefaultValue, value: null }"
      [formControlName]="parameters.ParameterName"
      [required]="parameters.Required"
      fillMode="flat"
      size="large"
      [valuePrimitive]="false"
      [tabIndex]="tabindex + 1"
      (focus)="showToolTip(anchor)"
      (blur)="hideToolTip(anchor)"
      [popupSettings]="{ popupClass: 'settings-drop-down' }"
    ></kendo-dropdownlist>
  </kendo-label>
</div>
<ng-template #template let-anchor>
  <span>{{ parameters.HelpText }}</span>
</ng-template>

<li class="item" *ngIf="static">
  <p class="label">{{ parameters.Caption }}</p>
  <h5 class="details">{{ parameters.value.Plabel }}</h5>
</li>
