<ss-navigation></ss-navigation>
<ss-field-group
  [fields]="serviceSetup.currentServiceFields.Parameters"
  (submit)="onSubmit($event)"
  [static]="true"
  [staticData]="currentSetup"
  step="2"
>
  <kendo-label [for]="taskNameInput" text="Task Name" class="customizing-label" [formGroup]="formGroup" style="color: var(--m3-on-surface-variant) !important;">
    <input #taskNameInput kendoTextBox formControlName="taskName" placeholder="Name this run (optional)" style="color: var(--m3-on-surface);" />
  </kendo-label>
  <ng-container actions></ng-container>
</ss-field-group>

