<section class="splash" style="background: linear-gradient(to right, #ffffff 0%, #ffffff 70%, #d0dffc 100%);">
  <img src="assets/images/logos/smartdata-full.svg" alt="SmartData by AspireHR" class="brand-logo" />
  <div class="panel">
    <h1 class="title">
      <em>SmartData</em>
      <br />
      Smarter starts here
    </h1>

    <p class="detail">
      Introducing AspireHR SmartData™
    </p>
    <div class="ratings">
      <div class="users">
      </div>
    </div>
  </div>
</section>
<section class="splash login-splash" style="background: linear-gradient(to right, #d0dffc 0%, #d0dffc 30%, var(--color-cta-lighter) 100%);">
  <div class="background" [class.spin-slow]="logoState === 'slow'" [class.spin-fast]="logoState === 'fast'" [class.spin-reverse]="logoState === 'reverse'">
    <ss-icon-logo-light class="background"></ss-icon-logo-light>
  </div>
  <div class="login" [formGroup]="signInFormGroup">
    <div class="panel">
      <h2 class="title">Sign In</h2>
      <div class="sign-in-form">
        <div class="step" *ngIf="step === 0" [@inOutAnimation]>
          <kendo-formfield>
            <kendo-floatinglabel text="Email">
              <input
                kendoTextBox
                type="email"
                formControlName="email"
                required
                email
                (keydown)="emailNextOnEnter($event)"
                (keyup)="onKeyUp($event)"
              />
            </kendo-floatinglabel>
            <div role="alert" class="k-form-error k-text-start ng-star-inserted">
              <ng-container
                *ngIf="
                  signInFormGroup.controls['email'].invalid &&
                  (signInFormGroup.controls['email'].dirty || signInFormGroup.controls['email'].touched)
                "
              >
                Error: Email is required
              </ng-container>
              &nbsp;{{ messages }}
            </div>
          </kendo-formfield>
          <button class="primary" (click)="next()" [class.disabled]="email!.invalid" [disabled]="email!.invalid">
            Next
          </button>
        </div>

        <div class="step" *ngIf="step === 1" [@inOutAnimation]>
          <kendo-formfield>
            <kendo-floatinglabel text="Password">
              <input
                kendoTextBox
                type="password"
                formControlName="password"
                (focus)="messages = ''"
                (keydown)="passwordSinginOnEnter($event)"
                (keyup)="onKeyUp($event)"
              />
            </kendo-floatinglabel>
            <div role="alert" class="k-form-error k-text-start ng-star-inserted">
              <ng-container
                *ngIf="
                  signInFormGroup.controls['password'].invalid &&
                  (signInFormGroup.controls['password'].dirty || signInFormGroup.controls['password'].touched)
                "
              >
                Error: Password is required
              </ng-container>
              &nbsp;{{ messages }}
            </div>
          </kendo-formfield>
          <div class="button-group">
            <button class="secondary back" (click)="back()" type="button">
              Back
            </button>
            <button
              class="primary"
              (click)="signin()"
              type="submit"
              [class.disabled]="signInFormGroup.controls['email'].invalid || signInFormGroup.controls['password'].invalid"
              [disabled]="signInFormGroup.controls['email'].invalid || signInFormGroup.controls['password'].invalid"
            >
              Sign In
            </button>
          </div>
        </div>

        <div class="step" *ngIf="step === 2" [@inOutAnimation]>
          <p class="detail">Set a new password to finish signing in.</p>
          <kendo-formfield>
            <kendo-floatinglabel text="New Password">
              <input
                kendoTextBox
                type="password"
                formControlName="newPassword"
                (focus)="messages = ''"
                (keydown)="newPasswordOnEnter($event)"
              />
            </kendo-floatinglabel>
            <div role="alert" class="k-form-error k-text-start ng-star-inserted">
              <ng-container
                *ngIf="
                  signInFormGroup.controls['newPassword'].invalid &&
                  (signInFormGroup.controls['newPassword'].dirty || signInFormGroup.controls['newPassword'].touched)
                "
              >
                Error: Use at least 8 characters
              </ng-container>
              &nbsp;{{ messages }}
            </div>
          </kendo-formfield>
          <button
            class="primary"
            (click)="submitNewPassword()"
            type="submit"
            [class.disabled]="signInFormGroup.controls['newPassword'].invalid"
            [disabled]="signInFormGroup.controls['newPassword'].invalid"
          >
            Set Password &amp; Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
</section>