<section class="splash" style="background: #ffffff;">
  <ss-icon-logo-dark></ss-icon-logo-dark>
  <ss-icon-logo-dark class="logo"></ss-icon-logo-dark>
  <div class="panel">
    <h1 class="title" style="position: relative; z-index: 1;">
      <em>SmartData</em>
      <br />
      Smarter starts here
    </h1>

    <p class="detail">
      Introducing AspireHR SmartData™
    </p>
    <div class="ratings">
      <div class="users">
      </div>
    </div>
  </div>
</section>
<section class="splash login-splash" style="background: #6786B8">
  <div class="background" [class.spin-slow]="logoState === 'slow'" [class.spin-fast]="logoState === 'fast'" [class.spin-reverse]="logoState === 'reverse'">
    <ss-icon-logo-light class="background"></ss-icon-logo-light>
  </div>
  <div class="login" [formGroup]="signInFormGroup">
    <div class="panel">
      <h2 class="title">Sign In</h2>
      <div class="sign-in-form">
        <div class="step" *ngIf="step === 0" [@inOutAnimation]>
          <kendo-formfield>
            <kendo-floatinglabel text="Email">
              <input
                kendoTextBox
                type="email"
                formControlName="email"
                required
                email
                (keydown)="emailNextOnEnter($event)"
                (keyup)="onKeyUp($event)"
              />
            </kendo-floatinglabel>
            <div role="alert" class="k-form-error k-text-start ng-star-inserted">
              <ng-container
                *ngIf="
                  signInFormGroup.controls['email'].invalid &&
                  (signInFormGroup.controls['email'].dirty || signInFormGroup.controls['email'].touched)
                "
              >
                Error: Email is required
              </ng-container>
              &nbsp;{{ messages }}
            </div>
          </kendo-formfield>
          <button class="primary" (click)="next()" [class.disabled]="email!.invalid" [disabled]="email!.invalid">
            Next
          </button>
        </div>

        <div class="step" *ngIf="step === 1" [@inOutAnimation]>
          <kendo-formfield>
            <kendo-floatinglabel text="Password">
              <input
                kendoTextBox
                type="password"
                formControlName="password"
                (focus)="messages = ''"
                (keydown)="passwordSinginOnEnter($event)"
                (keyup)="onKeyUp($event)"
              />
            </kendo-floatinglabel>
            <div role="alert" class="k-form-error k-text-start ng-star-inserted">
              <ng-container
                *ngIf="
                  signInFormGroup.controls['password'].invalid &&
                  (signInFormGroup.controls['password'].dirty || signInFormGroup.controls['password'].touched)
                "
              >
                Error: Password is required
              </ng-container>
              &nbsp;{{ messages }}
            </div>
          </kendo-formfield>
          <div class="button-group">
            <button class="secondary back" (click)="back()" type="button">
              Back
            </button>
            <button
              class="primary"
              (click)="signin()"
              type="submit"
              [class.disabled]="signInFormGroup.status !== 'VALID'"
              [disabled]="signInFormGroup.status !== 'VALID'"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>