<header class="header" *ngIf="type === 'dashboard'">
  <div class="content-wrapper">
    <div class="text">
      <h1 class="title">{{ headerTitle }}</h1>
      <h2 class="subtitle">{{ headerSubtitle }}</h2>
    </div>
  </div>
</header>

<header class="header detail" *ngIf="type === 'serviceDetail' || type === 'admin'">
  <div class="content-wrapper">
    <div class="nav-left">
      <button
        class="back-button"
        aria-label="navigate back"
        (click)="back($event)"
        (keyup)="back($event)"
        tabindex="0"
      >
        <span class="k-icon k-i-arrow-left"></span>
      </button>
    </div>
    <div class="text">
      <h1 class="title">{{ headerTitle }}</h1>
    </div>
  </div>
</header>
