<header class="header" *ngIf="type === 'dashboard'">
  <img src="../../../assets/images/logos/logo-aspire-light.svg" alt="" class="background" />
  <div class="content-wrapper">
    <ss-icon-logo-light></ss-icon-logo-light>
    <div class="text">
      <h1 class="title">{{ headerTitle }}</h1>
      <h2 class="subtitle">{{ headerSubtitle }}</h2>
    </div>
    <ss-user-badge [user]="headerUserObject"></ss-user-badge>
  </div>
</header>

<header class="header detail" *ngIf="type === 'serviceDetail'">
  <img src="../../../assets/images/logos/logo-aspire-light.svg" alt="" class="background" />
  <div class="content-wrapper">
    <div class="logo">
      <ss-icon-logo-light></ss-icon-logo-light>
    </div>
    <div class="text">
      <a (click)="back()" class="back">Back</a>
      <h1 class="title">{{ headerTitle }}</h1>
    </div>
    <ss-user-badge [user]="headerUserObject"></ss-user-badge>
  </div>
</header>
