:host {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: transparent;
  align-items: center;
  justify-content: center;

  .buttons-container {
    max-width: 90rem;
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}

