<kendo-window
  title="Filters"
  *ngIf="this.uiState.serviceFiltersOpen$ | async"
  (close)="close()"
  [width]="width"
  [top]="top"
  [left]="left"
  [draggable]="false"
  [@slideInOut]
  class="window"
>
  <kendo-window-titlebar>
    <div class="k-window-title"><h2 class="title">Filters</h2></div>
    <button kendoWindowCloseAction aria-label="close"></button>
  </kendo-window-titlebar>

  <form class="k-form form" [formGroup]="filters">
    <fieldset class="fieldset subscribed">
      <div class="k-form-field field-wrapper">
        <kendo-switch
          [checked]="subscribedVisible"
          (valueChange)="subscribedVisible = !subscribedVisible"
          onLabel="On"
          offLabel="Off"
          [tabindex]="-1"
          id="subscribed"
          autofocus
          aria-label="show subscribed"
        ></kendo-switch>
        <label class="k-form-field label">
          <input
            type="checkbox"
            kendoCheckBox
            class="checkbox subscribed"
            tabindex="0"
            #subscribed
            [checked]="subscribedVisible"
            (change)="subscribedVisible = !subscribedVisible"
          />
          <span id="subscribed-label" class="title">Subscribed</span>
        </label>
      </div>
    </fieldset>
    <fieldset *ngFor="let category of data; let cati = index" class="fieldset category">
      <legend class="name">{{ category.name }}</legend>

      <label class="k-form-field label" *ngFor="let filter of category.tags; let i = index">
        <input type="checkbox" kendoCheckBox class="checkbox" [formControlName]="filter.name" tabindex="0" />
        <span>
          {{ filter.name }}
          <span class="subscribed" *ngIf="subscribedVisible">({{ filter.subscribed }})</span>
        </span>
      </label>
    </fieldset>
  </form>
  <div class="k-actions k-actions-end buttons">
    <button kendoButton type="button" class="button reset" (click)="reset()" tabindex="0">Reset</button>
    <button kendoButton themeColor="primary" type="button" class="button submit" (click)="submit()" tabindex="0">
      Show Results
    </button>
  </div>
</kendo-window>
