<kendo-dialog
  title=" "
  *ngIf="uiState.serviceDetailOpen$ | async"
  (close)="detailsClose()"
  [minWidth]="250"
  [width]="600"
>
  <p style="margin: 30px; text-align: center">Service Detail</p>
</kendo-dialog>

<ss-field-group
  [fields]="serviceSetupFields.Parameters"
  [formGroup]="formGroup"
  (submit)="onSubmit($event)"
  (abortFile)="onAbortFile($event)"
  buttonText="Continue"
>
  <ng-container actions>
    <button class="button info" (click)="showInfo()" tabindex="1" aria-label="Service Information">i</button>
  </ng-container>
</ss-field-group>
