<div class="image-wrapper">
  <img class="image" [src]="data.imagePath" [alt]="data.name + ' tile image'" />
  <br />
  <button
    class="k-button button favorite"
    [class.favorited]="favorite"
    (click)="onFavorite($event)"
    tabindex="0"
    [attr.aria-label]="favorite ? data.name + ' service favorited:checked' : data.name + ' service favorited:unchecked'"
  >
    &#9829;
  </button>
  <button class="k-button button info" (click)="onInfo($event)" tabindex="0" aria-label="service information">i</button>
</div>
<div class="text">
  <div class="status-badges">
    <ss-status-badge
      *ngFor="let tag of data.displayTags"
      [title]="tag.name.toString()"
      [colorFromString]="true"
      [rounded]="true"
    ></ss-status-badge>
  </div>

  <h4 class="title">{{ data.name }}</h4>
  <p class="description">{{ data.shortDescription | slice: 0:75 }}</p>
  <ng-content></ng-content>
</div>
