<div class="image-wrapper">
  <img [src]="service.imagePath" [alt]="service.name + ' tile image'" />
  <br />
  <button class="k-button info">i</button>
  <button class="k-button favorite" [class.favorited]="service.favorite" (click)="service.favorite = !service.favorite">
    ♡
  </button>
</div>
<div class="text">
  <!-- <kendo-chiplist selection="multiple">
    <kendo-chip *ngFor="let tag of service.tags" [label]="tag"></kendo-chip>
  </kendo-chiplist> -->
  <ss-badge-list [badges]="service.tags"></ss-badge-list>

  <h4 class="title">{{ service.name }}</h4>
  <p class="description">{{ service.description | slice: 0:75 }}</p>
</div>
