:host {
  display: block;
  box-shadow: var(--drop-shadow);
  border-radius: 1em;

  .image-wrapper {
    position: relative;

    .info {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .favorite {
      position: absolute;
      top: 3rem;
      right: 1rem;

      &.favorited {
        color: var(--color-accent-7);
      }
    }
  }

  .text {
    padding: 1rem;

    .title {
      color: var(--color-cta-lighter);
      margin: 0.5rem 0;
    }
  }
}
