<div class="image-wrapper">
  <img class="image" [src]="service.imagePath" [alt]="service.name + ' tile image'" />
  <br />
  <button class="k-button button favorite" [class.favorited]="service.favorite" (click)="onFavorite($event)">
    &#9829;
  </button>
  <button class="k-button button info" (click)="onInfo($event)">i</button>
</div>
<div class="text">
  <ss-badge-list [badges]="service.displayTags"></ss-badge-list>

  <h4 class="title">{{ service.name }}</h4>
  <p class="description">{{ service.description | slice: 0:75 }}</p>
  <ng-content></ng-content>
</div>
