:host {
  display: block;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  transition: transform 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 24px rgba(0,0,0,0.2);
    /*transform: translateY(-3px); //this whitens the tile when you hover over it
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
    background: var(--color-cta-gradient);
    filter: brightness(1.15);*/
  }

  &.subscribed {
    cursor: pointer;
  }

  .image-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 66.67%;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .button {
      background-color: rgba(var(--color-text-secondary-rgb), 0.5);
      border: none;
      color: var(--color-background-primary);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(var(--color-background-primary-rgb), 0.8);

      &.info {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-weight: bold;
        font-size: 1.3rem;
        z-index: 1;
        &:focus {
          outline: 2px solid var(--color-cta-lighter);
        }
      }

      &.favorite {
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        font-size: 1.6rem;
        line-height: 1rem;
        z-index: 1;
        &:focus {
          outline: 2px solid var(--color-cta-lighter);
        }

        &.favorited {
          color: var(--color-accent-7);
        }
      }
    }
  }

  .text {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgba(67,67,69, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 0 0 1rem 1rem;

    & > * {
      flex: 1 100%;
      align-self: flex-start;
    }

    .description {
      margin-bottom: 1rem;
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.2);
    }

    .status-badges {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 0.5rem;
    }

    .title {
      color: rgb(67,67,69);
      margin: 0.5rem 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      //text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  &.featured {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and(min-width: 45em) {
      flex-direction: row;
    }

    .image-wrapper {
      flex: 1 45%;
      order: 1;
      height: 100%;
      padding-bottom: 0;
      border-radius: 1rem;
      min-width: calc(320px * 0.45);

      .image {
        position: relative;
      }

      @media screen and(min-width: 45em) {
        order: 2;
      }
    }

    .text {
      flex: 1 55%;
      order: 2;
      min-width: calc(320px * 0.55);
      border-radius: 0 0 1rem 1rem;

      @media screen and(min-width: 45em) {
        order: 1;
        border-radius: 1rem 0 0 1rem;
      }

      .title {
        margin-top: 0;
      }
    }
  }
}
