:host {
  display: block;

  .usergroup-item,
  .user {
    display: grid;
    gap: 1rem;
    box-shadow: var(--drop-shadow);
    border-radius: 6px;
    box-shadow: 0px 4px 12px #cad6e5;
    padding: 1rem;
    margin: 0.4rem 1rem;

    grid-template-columns: 1fr;
    align-items: center;

    @media screen and (min-width: 43rem) {
      grid-template-columns: 7rem 1fr 1fr 1fr;
    }

    @media screen and (min-width: 54rem) {
      grid-template-columns: 2.3fr 1.6fr 2fr 10rem;
    }

    .title {
      margin: 0;
    }

    .details {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .actions {
      display: flex;
      justify-content: center;

      .button {
        width: 100%;
        &.cancel {
          border-color: var(--color-accent-3);
          color: var(--color-accent-3);
        }
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    transform-origin: top;
    overflow: hidden;

    .title {
      margin: 0;
    }

    .toggle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: var(--color-text-secondary);

      .switch {
        margin-right: 0.5rem;
      }
    }

    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-column: span 2;
      max-height: 15rem;

      .services,
      .environments {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        outline: 1px solid rgba(var(--color-text-secondary-rgb), 0.5);
        max-height: 100%;
        overflow-y: auto;
        padding: 0.5rem;

        .header {
          .title {
            margin: 0;
          }

          button.button {
            border: none;
            background: none;
            box-shadow: none;
            color: var(--color-cta-lighter);
            font-weight: 600;
          }
        }

        .services-wrapper,
        .environments-wrapper {
          display: grid;
          gap: 0.5rem;
          input {
            margin-right: 0.5rem;
          }
        }

        .services-wrapper {
          overflow-y: auto;
        }

        .header {
          display: flex;
          justify-content: space-between;
        }
        .label {
          display: flex;
          align-items: center;
          padding-left: 0.3rem;

          .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .form-actions {
      grid-column: span 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      .button {
        height: 2rem;
        width: 9rem;
        font-size: 0.75rem;
        padding: 0;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;
        color: var(--color-cta-lighter);
        background: transparent;
        border: none;
        box-shadow: none;

        &.primary {
          color: var(--color-background-primary);
          background: var(--color-cta-lighter);
        }
      }
    }
    .users {
      grid-column: span 2;

      ::ng-deep {
        .k-listview-content {
          overflow: visible;
        }
        .k-listview-bordered > .k-listview-header {
          border-bottom-width: 0;
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        .add-user {
          background: var(--color-accent-1);
          color: var(--color-background-primary);
          border: none;
          width: 2rem;
          height: 2rem;
          font-size: 1.1rem;
          line-height: 0;
          position: relative;
          border-radius: 3px;
          &:after {
            content: '\25EF';
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.1rem;
            transform: translate(-50%, -50%);
          }
        }
      }

      .user {
        grid-template-columns: 5rem 1fr 1fr 10rem;
        align-items: center;
        margin: 0;

        .title {
          align-items: center;
        }
      }
    }
  }

  // .usergroup-item {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
}
