@import '../assets/fonts/material-icons/icons.less';
@import 'vars';

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button:not(.k-button),
input,
textarea {
  font-family: var(--font);
  color: var(--color-text-primary);
}

h1 {
  font-size: clamp(2rem, 4vw, 3.125rem);
}

h2 {
  font-size: 1.75;
}

em {
  color: var(--color-cta);
  font-style: normal;
}

p {
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

button {
  box-shadow: 0px 4px 12px var(--color-shadow);
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.primary {
    color: var(--color-background-primary);
    background: var(--color-cta-gradient);
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    border-radius: 6px;
    padding: 0.8rem;
    border: none;

    &.outline {
      color: var(--color-cta-lighter);
      border: 1px solid var(--color-cta-lighter);
      background: transparent;
    }
  }

  &.medium {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;

    &.outline {
      border: 1px solid var(--color-text-secondary);
      background-color: transparent;
    }
  }
}

input {
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  padding: 1rem 1rem 0 1rem;
}

.spacer {
  width: 100%;
}

// forms

fieldset {
  border: none;
  border-bottom: 1px solid gainsboro;
}

.form {
  .info {
    border-radius: 50%;
    color: var(--color-background-primary) !important;
    background-color: rgba(var(--color-text-secondary-rgb), 0.6);
    border: none;
    font-size: 0.8rem;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    box-shadow: none;
  }
}

// searchbar

.search {
  display: flex;
  height: 2.3125rem;
  flex: 1 50%;
  min-width: 15rem;

  .field {
    display: flex;
    height: 100%;
    flex: 1 50%;
    border-radius: 2rem 0 0 2rem;
    border-color: var(--color-cta-lighter);
    border-width: 2px;
    padding-top: 0;
  }
  .k-icon-button.k-button-md {
    background-color: var(--color-cta-lighter);
    color: var(--color-background-primary);
    border-radius: 0 2rem 2rem 0;
    padding: 0.7rem;
  }
}

// notification

// .button.notification-close {
//   background: transparent;
//   border: none;
//   box-shadow: none;
//   color: white;
//   font-size: 2rem;
//   margin: 0;
//   padding: 0;
//   padding-left: 1rem;
//   line-height: 1rem;
//   position: relative;
//   top: 0.2rem;
// }

.button.notification-close {
  background: transparent;
  border: 1px solid var(--color-background-primary);
  box-shadow: none;
  color: var(--color-background-primary);
  font-size: 0.9rem;
  margin: 0;
  padding: 0.4rem 0.3rem;
  position: relative;
  top: 0.2rem;
  border-radius: 0.254rem;
  margin-left: 1rem;
  position: relative;
  top: -0.05rem;
}


ss-header .header.detail .content-wrapper {
  display: grid !important;
  grid-template-columns: auto 1fr auto !important;
  align-items: center !important;
  width: 100% !important;

  .nav-left {
    grid-column: 1;
  }

  .text {
    grid-column: 2;
    text-align: center !important;

    h1 {
      text-align: center !important;
      margin: 0 !important;
    }
  }

  .user-actions {
    grid-column: 3;
  }
}

