:root {
  // don't use --swatch, only there to preview color
  --swatch: #ffffff;
  --color-background-primary-rgb: 255, 255, 255;
  --color-background-primary: rgb(var(--color-background-primary-rgb));

  --swatch: #f2f2f2;
  --color-background-secondary-rgb: 242, 242, 242;
  --color-background-secondary: rgb(var(--color-background-secondary-rgb));

  --swatch: rgb(48, 56, 68);
  --color-background-dark-rgb: 48, 56, 68;
  --color-background-dark: rgb(var(--color-background-dark-rgb));

  --swatch: #c4c4c4;
  --color-background-secondary-darker-rgb: 196, 196, 196;
  --color-background-secondary-darker: rgb(var(--color-background-secondary-darker-rgb));

  --swatch: #ECE8E8;
  --color-cta-rgb: 236, 232, 232;
  --color-cta: rgb(var(--color-cta-rgb));

  --swatch: #ECE8E8;
  --color-cta-lighter-rgb: 236, 232, 232;
  --color-cta-lighter: rgb(var(--color-cta-lighter-rgb));

  --swatch: #A1D683;
  --color-cta-progress-rgb: 161, 214, 131;
  --color-cta-progress: rgb(var(--color-cta-progress-rgb));

  --color-cta-gradient: linear-gradient(134.9deg, var(--color-cta-lighter) 25.04%, var(--color-cta) 94.59%);

  --swatch: #122e4d;
  --color-text-primary-rgb: 18, 46, 77;
  --color-text-primary: rgb(var(--color-text-primary-rgb));

  --swatch: #717c8a;
  --color-text-secondary-rgb: 113, 124, 138;
  --color-text-secondary: rgb(var(--color-text-secondary-rgb));

  --swatch: #ffc947;
  --color-accent-1-rgb: 255, 201, 71;
  --color-accent-1: rgb(var(--color-accent-1-rgb));

  --swatch: #ff5c00;
  --color-accent-2-rgb: 255, 92, 0;
  --color-accent-2: rgb(var(--color-accent-2-rgb));

  --swatch: #fc3400;
  --color-accent-3-rgb: 252, 52, 0;
  --color-accent-3: rgb(var(--color-accent-3-rgb));

  --swatch: #ff00a3;
  --color-accent-4-rgb: 255, 0, 163;
  --color-accent-4: rgb(var(--color-accent-4-rgb));

  --swatch: #81cc00;
  --color-accent-5-rgb: 129, 204, 0;
  --color-accent-5: rgb(var(--color-accent-5-rgb));

  --swatch: rgb(53, 167, 0);
  --color-accent-5-darker-rgb: 53, 167, 0;
  --color-accent-5-darker: rgb(var(--color-accent-5-darker-rgb));

  --swatch: #01efc4;
  --color-accent-6-rgb: 1, 239, 196;
  --color-accent-6: rgb(var(--color-accent-6-rgb));

  --swatch: #ff004d;
  --color-accent-7-rgb: 255, 0, 77;
  --color-accent-7: rgb(var(--color-accent-7-rgb));

  --swatch: #e7edf5;
  --color-accent-8-rgb: 231, 237, 245;
  --color-accent-8: rgb(var(--color-accent-8-rgb));

  --color-shadow: #cad6e5;

  --drop-shadow: 1px 10px 12px var(--color-shadow);
  --drop-shadow-light: 0px 4px 12px var(--color-shadow);

  --font: 'Open Sans', sans-serif;

  --application-menu-width: 286px;
}
