<div
  kendoTooltip
  class="right"
  position="bottom"
  [title]="parameters.HelpText"
  [tooltipTemplate]="template"
  tooltipClass="tool-tip"
  showOn="none"
  #anchor
  *ngIf="!static"
>
  <kendo-label class="label" [text]="parameters.Caption" [formGroup]="formGroup">
    <span class="required" *ngIf="parameters.Required">*</span>
    <button
      class="info"
      [tabindex]="tabindex"
      (click)="toggleToolTip(anchor)"
      [attr.aria-label]="'Field Help ' + parameters.HelpText"
      type="button"
    >
      ?
    </button>
    <input
      kendoTextBox
      [type]="fieldType"
      [formControlName]="parameters.ParameterName"
      (focus)="showToolTip(anchor)"
      (blur)="hideToolTip(anchor)"
      [tabindex]="tabindex + 1"
      autocomplete="current-password"
      id="current-password"
    />
    <button
      kendoButton
      class="show-text"
      fillMode="clear"
      icon="preview"
      (click)="toggleView()"
      [tabindex]="tabindex + 1"
      arria-label="Toggle password visibility"
    ></button>
  </kendo-label>
</div>
<ng-template #template let-anchor>
  <span>{{ parameters.HelpText }}</span>
</ng-template>

<li class="item" *ngIf="static">
  <p class="label">{{ parameters.Caption }}</p>
  <h5 class="details">{{ '*'.repeat(parameters.value.length) }}</h5>
</li>
