<div
  kendoTooltip
  class="right"
  position="right"
  [title]="parameters.HelpText"
  [tooltipTemplate]="template"
  tooltipClass="tool-tip"
  showOn="none"
  [offset]="25"
  #anchor
>
  <kendo-label class="label" [text]="parameters.Caption" [formGroup]="formGroup">
    <button class="info" [tabindex]="tabindex" (click)="toggleToolTip(anchor)">?</button>
    <kendo-textbox
      type="password"
      [formControlName]="parameters.ParameterName"
      (focus)="showToolTip(anchor)"
      (blur)="hideToolTip(anchor)"
      [tabindex]="tabindex + 1"
    ></kendo-textbox>
  </kendo-label>
</div>
<ng-template #template let-anchor>
  <span>{{ parameters.HelpText }}</span>
</ng-template>
