<ss-card title="Settings" [step]="step">
  <ng-container actions>
    <div class="spacer"></div>
    <ng-content select="[actions]"></ng-content>
  </ng-container>
  <form class="form" [formGroup]="formGroup" *ngIf="!static">
    <ng-template
      *ngFor="let field of fields; let i = index"
      [field]="field"
      [tabindex]="0"
      [formGroup]="formGroup"
      [static]="static"
      ssFieldGenerator
      (fileAbort)="onFileAbort($event)"
    ></ng-template>

    <ng-content></ng-content>
    <small>* Required</small>
  </form>

  <ul class="form-summary" *ngIf="static">
    <ng-template
      *ngFor="let field of staticData; let i = index"
      [staticField]="field"
      [tabindex]="0"
      [static]="static"
      ssFieldGenerator
    ></ng-template>
    <ng-content></ng-content>
  </ul>
  <ng-container footer>
    <button
      kendoButton
      themeColor="primary"
      type="submit"
      class="button"
      (click)="save(formGroup.valid)"
      [class.disabled]="!formGroup.valid"
      tabindex="0"
      role="button"
    >
      <span _ngcontent-bem-c118="" class="k-button-text">{{ buttonText }}</span>
    </button>
  </ng-container>
</ss-card>
