:host {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  border-radius: 1rem;

  .form {
    display: grid;
    gap: 1rem;
  }

  .button.k-button {
    padding: 0.5rem;
    text-transform: uppercase;
  }

  .form-summary {
    display: grid;
    gap: 1.5rem;
    ::ng-deep {
      .item {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @media screen and (min-width: 30rem) {
          grid-template-columns: 1fr 2fr;
        }

        .label {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
        .deltails {
          font-weight: 500;
          font-size: 14px;
          line-height: 125%;
          margin: 0;
        }

        .details {
          margin: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 125%;
          margin: 0;
          color: var(--color-text-primary);
        }
      }

      // .tool-tip {
      //   color: red;
      // }
    }
  }

  ::ng-deep {
    .form {
      .k-label,
      .label {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.5rem;
      }
    }
  }
}
