<ss-header headerTitle="Hello." headerSubtitle="Select Your Process" [headerUserObject]="loggedInUserObj"></ss-header>
<ss-filters [data]="servicesService.allTags" (selectedFilters)="onFiltersSelected($event)"></ss-filters>
<main class="dashboard">
  <div class="controls">
    <kendo-buttongroup class="filters" selection="single" tabindex="1">
      <button
        kendoButton
        *ngFor="let filter of filters; let i = index"
        [toggleable]="true"
        [class.selected]="servicesService.currentFilter === filter"
        (click)="selectedFilter(filter)"
        class="filter"
        tabindex="0"
      >
        {{ filter }}
      </button>
    </kendo-buttongroup>
    <div class="search">
      <input
        placeholder="Search services"
        class="k-input field"
        (keyup)="onServiceSearch($event)"
        [(ngModel)]="searchField"
        (focus)="onServiceSearch($event)"
        (ngModelChange)="this.searchFieldUpdate.next($event)"
        [tabindex]="filters.length + 1"
      />
      <button kendoButton icon="search" (click)="onServiceSearch($event)" [tabindex]="filters.length + 2"></button>
    </div>

    <button class="k-button primary history" routerLink="/services/history" [tabindex]="filters.length + 3">
      View History
    </button>
  </div>

  <ss-tiles-section
    [data]="category"
    *ngFor="let category of services; let cati = index"
    [largerTiles]="category.featured"
    [showViewAll]="category.defaultMaxTiles < category.services.length + 1 && category.defaultMaxTiles !== 0"
    (viewAll)="onCatgoryViewAll(category.id)"
  >
    <ng-container *ngFor="let service of category.services; let i = index">
      <ss-tiles-tile
        *ngIf="category.defaultMaxTiles === 0 || i < category.defaultMaxTiles"
        [data]="service"
        [larger]="category.featured"
        [class.subscribed]="service.subscribed"
        [class.featured]="category.featured"
        (toggleFavorite)="onToggleFavorite(service.id, $event)"
        (openInfo)="openInfo(category.id, service.id)"
        [@tileInOutAnimation]
        [tabIndex]="cati * 100 + i * 3 + 5"
        [tabindex]="cati * 100 + i * 3 + 5"
      >
        <button
          class="k-button primary request"
          *ngIf="!service.subscribed"
          (click)="requestService(service.id)"
          [tabindex]="cati * 100 + i * 3 + 5 + 3"
        >
          Learn More
        </button>
      </ss-tiles-tile>
    </ng-container>
  </ss-tiles-section>
</main>
