:host {
  display: block;
  background-color: var(--color-background-secondary);

  .dashboard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    margin: auto;
    margin-top: -2rem;
    background: var(--color-background-primary);
    border-radius: 6px;
    z-index: 1;
    box-shadow: var(--drop-shadow);

    .controls {
      display: flex;

      .search,
      .k-searchbar {
        margin-left: auto;
      }

      .history {
        font-weight: 700;
        font-size: 15px;
        line-height: 125%;
      }
    }

    .request {
      width: 100%;
      font-weight: 700;
      font-size: 0.875rem;
      height: 2rem;
      margin-top: auto;
    }
  }
}
