:host {
  display: block;

  .tiles {
    display: grid;
    // grid-template-columns: repeat(auto-fill, 335px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    // grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 1.5em;
    gap: 1.5em;

    &.larger-tiles {
      grid-template-columns: 1fr 1fr;
    }
  }
}
