<ss-header
  *ngIf="allServicesHistory"
  headerTitle="History"
  headerSubtitle=""
  type="serviceDetail"
  [headerUserObject]="(loggedInUserObj$ | async)!"
></ss-header>

<div class="navigation-row">
  <ss-navigation-buttons>
    <ss-navigation-button
      *ngIf="!allServicesHistory"
      label="Create New Run"
      class="secondary"
      (click)="onSetupRun()"
    ></ss-navigation-button>
    <ss-navigation-button *ngIf="!allServicesHistory" label="History of Runs" class="active"></ss-navigation-button>
  </ss-navigation-buttons>
  <button
    kendoButton
    icon="refresh"
    aria-label="refresh history"
    (click)="refreshHistory()"
    class="refresh-button"
    tabindex="0"
  ></button>
</div>

<ss-cancel-service-run [serviceId]="cancelServiceId"></ss-cancel-service-run>
<ss-service-run-results
  [serviceId]="serviceDetailsId"
  *ngIf="uiState.serviceRunResultsOpen$ | async"
></ss-service-run-results>

<div class="content-wrapper">
  <div class="filters-row">
    <div class="filters">
      <ng-container *ngFor="let filterGroup of filters; let i = index">
  <button
    kendoButton
    rounded="full"
    fillMode="outline"
    #anchor
    (click)="showFilterPopup(i)"
    class="filter-button"
    [hidden]="!(filterGroup.filters.length > 1 || filterGroup.name === 'Date Range')" 
    [class.active]="
      filterGroup.name !== 'Date Range'
        ? filtersObj[filterGroup.name.toLocaleLowerCase()].length > 0
        : filtersObj['dateRange'].start.getTime() !== 0
        ? true
        : false
    "
  >
    <span class="name">{{ filterGroup.name }}</span>
    <span class="arrow">&#9660;</span>
  </button>
</ng-container>

      <button
        kendoButton
        rounded="full"
        fillMode="outline"
        [class.active]="serviceRunService.filtersActive === true"
        (click)="clearAllFilters()"
        class="filter-button"
      >
        <span class="name">Clear</span>
      </button>
    </div>
    <div class="search-inline">
      <input
        placeholder="Search..."
        class="k-input field search-input-inline"
        (keyup)="onSearchStringUpdate($event)"
        [(ngModel)]="searchField"
      />
      <button kendoButton icon="search" aria-label="search history" (click)="onSearchStringUpdate($event)" class="search-btn-inline"></button>
    </div>
  </div>

  <div class="history-header">
    <div class="icon"></div>
    <div class="info">
      <button class="button" (click)="toggleSort('taskName')">
        Task Name
        <span class="arrow" *ngIf="currentSortType !== 'taskName'">&#8645;</span>
        <span class="arrow active" *ngIf="currentSortType === 'taskName' && currentSortDirection === 'asc'">&#8593;</span>
        <span class="arrow active" *ngIf="currentSortType === 'taskName' && currentSortDirection === 'desc'">&#8595;</span>
      </button>
    </div>
    <div class="status">
      <button class="button" (click)="toggleSort('status')">
        Status
        <span class="arrow" *ngIf="currentSortType !== 'status'">&#8645;</span>
        <span class="arrow active" *ngIf="currentSortType === 'status' && currentSortDirection === 'asc'">&#8593;</span>
        <span class="arrow active" *ngIf="currentSortType === 'status' && currentSortDirection === 'desc'">&#8595;</span>
      </button>
    </div>
    <div class="actions"></div>
    <div class="owner">
      <button class="button" (click)="toggleSort('owner')">
        Owner
        <span class="arrow" *ngIf="currentSortType !== 'owner'">&#8645;</span>
        <span class="arrow active" *ngIf="currentSortType === 'owner' && currentSortDirection === 'asc'">&#8593;</span>
        <span class="arrow active" *ngIf="currentSortType === 'owner' && currentSortDirection === 'desc'">&#8595;</span>
      </button>
    </div>
    <div class="last-updated">
      <button class="button" (click)="toggleSort('lastUpdated')">
        Last Updated
        <span class="arrow" *ngIf="currentSortType !== 'lastUpdated'">&#8645;</span>
        <span class="arrow active" *ngIf="currentSortType === 'lastUpdated' && currentSortDirection === 'asc'">&#8593;</span>
        <span class="arrow active" *ngIf="currentSortType === 'lastUpdated' && currentSortDirection === 'desc'">&#8595;</span>
      </button>
    </div>
  </div>

  <div style="background: transparent !important;">
    <kendo-listview [data]="serviceRuns" containerClass="k-d-flex k-flex-col k-flex-nowrap" style="background: transparent !important; background-color: transparent !important; border: none !important; box-shadow: none !important;">
      <ng-template kendoListViewItemTemplate let-dataItem="dataItem" let-isFirst="isFirst">
        <div class="history-item" [class.new]="dataItem.newlyCompleted" [class.cancelled]="dataItem.statusString === 'Cancelled'" [@listItemInOutAnimation]="dataItem.newlyCompleted ? 'in' : 'out'">
          <div class="icon">
            <ss-icon-file-w-status-dot [dotColor]="dataItem.statusColor"></ss-icon-file-w-status-dot>
          </div>
          <div class="info">
            <h2 class="title">{{ dataItem.taskName || dataItem.serviceName || 'Unnamed' }}</h2>
            <p class="process-type">{{ dataItem.serviceName }}</p>
            <div class="details">
              <ss-status-badge
                *ngIf="dataItem.scheduled"
                [title]="dataItem.scheduled ? 'SCHEDULED' : ''"
                textColor="var(--color-text-secondary)"
                [color]="statusBadgeColor"
                [rounded]="true"
              ></ss-status-badge>
            </div>
          </div>
          <div class="status">
            <h3 class="label">
              <ss-status-dot [color]="dataItem.statusColor"></ss-status-dot>
              {{ dataItem.statusString }}
            </h3>

            <img
              *ngIf="dataItem.statusString === 'Processing'"
              src="../../../assets/images/icons/statusbar_icon.gif"
              alt="Processing"
              class="progress-gif"
            />

            <kendo-chunkprogressbar
              *ngIf="dataItem.statusString === 'Completed'"
              [value]="16"
              [chunkCount]="16"
              [max]="16"
              [min]="0"
              [progressCssStyle]="{ background: dataItem.statusColor, 'border-color': 'rgb(67, 67, 69)' }"
              [emptyCssStyle]="{ background: 'rgb(67, 67, 69)' }"
            ></kendo-chunkprogressbar>

            <kendo-chunkprogressbar
              *ngIf="dataItem.statusString === 'Processed with Errors'"
              [value]="16"
              [chunkCount]="16"
              [max]="16"
              [min]="0"
            ></kendo-chunkprogressbar>
          </div>
          <div class="actions">
            <button
              (click)="cancel(dataItem.id)"
              class="button medium action outline cancel"
              *ngIf="dataItem.statusString === 'Processing'"
            >
              Cancel
            </button>
            <button
              (click)="details(dataItem.id)"
              class="button medium action primary complete"
              *ngIf="dataItem.statusString === 'Completed'"
            >
              Get Results
            </button>
            <button
              (click)="details(dataItem.id)"
              class="button medium action primary complete"
              *ngIf="dataItem.statusString === 'Processed with Errors'"
            >
              Details
            </button>
          </div>
          <p class="owner">{{ dataItem.owner }}</p>
          <p class="last-updated">{{ dataItem.lastUpdatedLocal }}</p>
        </div>
      </ng-template>
    </kendo-listview>
  </div>
</div>

<ng-container *ngFor="let filterGroup of filters; let i = index">
  <kendo-popup
    #popup
    [anchor]="anchors.toArray()[i]"
    *ngIf="showFilterPopupIndex === i"
    class="filter-popup"
    popupClass="filter-popup"
  >
    <div class="content" style="background: transparent !important;">
      <ul class="filter-list" *ngIf="filterGroup.name !== 'Date Range' && filterGroup.filters.length > 0" style="background: transparent !important;">
        <ng-container *ngFor="let filter of filterGroup.filters; let j = index">
          <li class="filter-item" style="background: transparent !important;">
            <label class="k-checkbox-label">
              <input
                type="checkbox"
                kendoCheckBox
                (change)="onCheckboxChange(filterGroup.name, filter)"
                [checked]="filtersObj[filterGroup.name.toLowerCase()].indexOf(filter) !== -1"
              />
              {{ filter }}
            </label>
          </li>
        </ng-container>
      </ul>

      <div class="empty-filter-message" *ngIf="filterGroup.name !== 'Date Range' && filterGroup.filters.length === 0">
        <p>No users available for this date</p>
      </div>

      <ng-container *ngIf="filterGroup.name === 'Date Range'">
        <div class="date-inputs">
          <label>
            Start:
            <kendo-dateinput
              [(value)]="selectedDateRangeFilter.start"
              (valueChange)="onDateRangeValueChange(selectedDateRangeFilter)"
              size="small"
              [format]="localizationService.dateFormat"
            ></kendo-dateinput>
          </label>
          <label>
            End:
            <kendo-dateinput
              [(value)]="selectedDateRangeFilter.end"
              (valueChange)="onDateRangeValueChange(selectedDateRangeFilter)"
              class="date-input"
              size="small"
              [format]="localizationService.dateFormat"
            ></kendo-dateinput>
          </label>
        </div>
        <kendo-multiviewcalendar
          kendoDateRangeSelection
          [selectionRange]="selectedDateRangeFilter"
          [focusedDate]="selectedDateRangeFilter.start || selectedDateRangeFilter.end"
          (selectionRangeChange)="onDateRangeValueChange($event)"
        ></kendo-multiviewcalendar>
      </ng-container>
    </div>
  </kendo-popup>
</ng-container>
