:host {
  display: block;
  min-height: 100vh;
  background-color: var(--color-background-secondary);

  .search-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -1.3rem;
    .search {
      max-width: 60rem;
      filter: drop-shadow(var(--drop-shadow));
    }
  }

  .navigation-row {
    display: flex;
    align-items: center;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;

    ss-navigation-buttons {
      flex: 1;
    }

    .refresh-button {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      min-width: 2.5rem;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--color-cta);
      background-color: var(--color-background-primary);
      color: var(--color-cta);
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: var(--color-cta);
        color: var(--color-background-primary);
      }
    }
  }

  ss-navigation-buttons {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }

  .content-wrapper {
    max-width: 90rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: var(--drop-shadow);
    background-color: var(--color-background-primary);
  }

  .filters {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;

    .filter-button {
      border-color: var(--color-cta-lighter);
      color: var(--color-cta-lighter);
      border-width: 2px;
      text-transform: uppercase;

      &.active {
        background-color: var(--color-cta-lighter);
        .name,
        .arrow {
          color: var(--color-background-primary);
        }
      }

      &:hover {
        background-color: var(--color-cta-lighter);

        .name,
        .arrow {
          color: var(--color-background-primary);
        }
      }

      .name {
        color: var(--color-cta-lighter);
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
      .arrow {
        font-size: 0.75rem;
        color: var(--color-cta-lighter);
        margin-left: 0.4rem;
      }
    }
  }

  .filter-popup {
    padding: 1rem;
    background-color: rgba(var(--color-background-secondary-rgb), 1);
    border-radius: 6px;
    border-color: transparent;
    ::ng-deep {
      .k-popup {
        border-color: transparent;
        box-shadow: none;
        outline: none;
        background-color: rgba(var(--color-background-secondary-rgb), 1);
      }
    }

    .filter-list {
      background-color: rgba(var(--color-background-secondary-rgb), 1);
      border: none;
    }

    .filter-item {
      background-color: rgba(var(--color-background-secondary-rgb), 1);
      padding: 0.3rem;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: var(--color-text-secondary);
    }

    .date-inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 100%;
      padding: 0.5rem;
      align-items: center;

      label {
        display: flex;
        flex-wrap: wrap;
        flex: 1 50%;
        max-width: calc(50% - 0.5rem);
      }
      ::ng-deep {
        .k-input-sm .k-input-inner {
          max-width: 6rem;
          max-height: 2.125rem;
        }
      }

      .clear {
        margin-left: auto;
        max-height: 2.125rem;
      }
    }
  }

  .history-header {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-text-secondary);

    .actions,
    .info,
    .icon {
      display: none;
      @media screen and (min-width: 54rem) {
        display: inherit;
      }
    }

    .status {
      order: 3;
      @media screen and (min-width: 54rem) {
        order: unset;
      }
    }

    .duration {
      order: 2;
      @media screen and (min-width: 54rem) {
        order: unset;
      }
    }

    .date {
      order: 1;
      @media screen and (min-width: 54rem) {
        order: unset;
      }
    }

    .owner {
      display: none;
      @media screen and (min-width: 54rem) {
        display: inherit;
      }
    }

    .last-updated {
      display: none;
      @media screen and (min-width: 54rem) {
        display: inherit;
      }
    }

    .button {
      font-weight: 500;
      font-size: 0.75rem;
      background: none;
      white-space: nowrap;
      display: inline;
      border: none;
      box-shadow: none;
      color: var(--color-text-secondary);
      text-align: left;
    }
  }

  .history-item,
  .history-header {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    align-items: center;

    @media screen and (min-width: 43rem) {
      grid-template-columns: 7rem 1fr 1fr 1fr;
    }

    @media screen and (min-width: 54rem) {
      grid-template-columns: 35px 2fr 1.2fr 7rem 1fr 1fr 1fr 0.5fr;
    }
  }

  .history-header {
    margin: 0 2rem;
  }

  .history-item {
    box-shadow: 0px 4px 12px #cad6e5;
    border-radius: 6px;
    padding: 1rem;
    margin: 0.4rem 1rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info {
      overflow: hidden;

      .title {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .process-type {
        margin: 0.2rem 0 0 0;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--color-text-secondary);
        font-style: italic;
      }

      .comment {
        margin: 0.2rem 0 0 0;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--color-text-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
    }

    .status {
      .label {
        margin: 0;
        font-size: 0.875rem;
      }
      kendo-chunkprogressbar {
        max-width: 6.25rem;
        height: 0.8rem;
      }
    }

    .owner {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .date {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }

    .last-updated {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }

    .duration {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }

    &.new {
      background-size: 200% 200%;
      background: linear-gradient(
        45deg,
        transparent 8%,
        rgba(var(--color-cta-lighter-rgb), 0.5) 9%,
        transparent 9%,
        rgba(var(--color-cta-lighter-rgb), 0.5) 9.5%,
        rgba(var(--color-cta-lighter-rgb), 0.5) 10.5%,
        transparent 11.5%
      );
      background-size: 200%;
      background-position: -120% 0%;

      animation: shadow 1.5s linear infinite;

      .complete {
        white-space: nowrap;
        text-align: center;
        display: flex;
        justify-content: center;
        overflow: hidden;

        background: linear-gradient(
          59deg,
          rgba(var(--color-cta-lighter-rgb), 1) 8%,
          rgba(var(--color-cta-lighter-rgb), 0.6) 8%,
          rgba(var(--color-cta-lighter-rgb), 0.6) 16%,
          rgba(var(--color-cta-lighter-rgb), 1) 16%
        );
        background-size: 200% 400%;
        background-position: 45% -40%;

        animation: fadeIn 1s ease-in, shineOneWay 5s 3s ease-in 4 normal;
      }
    }
  }

  @keyframes shadow {
    0% {
      box-shadow: 0px 0px 12px rgba(var(--color-cta-rgb), 0.3);
    }
    50% {
      box-shadow: 0px 0px 12px rgba(var(--color-cta-rgb), 0.9);
    }
    100% {
      box-shadow: 0px 0px 12px rgba(var(--color-cta-rgb), 0.3);
    }
  }

  @keyframes blur {
    0% {
      filter: blur(5px);
    }
    100% {
      filter: blur(0px);
    }
  }

  @keyframes grow {
    0% {
      max-width: 0%;
      padding: 0.5rem 0rem;
    }
    100% {
      max-width: 100%;
      padding: 0.5rem 0.8rem;
    }
  }

  @keyframes sproing {
    0% {
      max-width: 0%;
      padding: 0.5rem 0rem;
    }
    60% {
      max-width: 100%;
      padding: 0.5rem 0.8rem;
    }
    70% {
      max-width: 80%;
      padding: 0.5rem 0.8rem;
    }
    80% {
      max-width: 100%;
      padding: 0.5rem 0.8rem;
    }
    90% {
      max-width: 90%;
      padding: 0.5rem 0.8rem;
    }
    100% {
      max-width: 100%;
      padding: 0.5rem 0.8rem;
    }
  }

  @keyframes shine {
    0% {
      background-position: 45% -40%;
    }
    12% {
      background-position: -105% -40%;
    }
    25% {
      background-position: 28% -40%;
    }
    100% {
      background-position: 28% -40%;
    }
  }

  @keyframes shineOneWay {
    0% {
      background-position: 28% -40%;
    }
    12% {
      background-position: -105% -40%;
    }
    100% {
      background-position: -105% -40%;
    }
  }

  @keyframes fadeToggle {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes backgroundFade {
    0% {
      background: rgba(var(--color-cta-rgb), 0);
    }
    50% {
      background: rgba(var(--color-cta-rgb), 0.1);
    }
    100% {
      background: rgba(var(--color-cta-rgb), 0);
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(7deg);
    }
    2% {
      transform: rotate(-6deg);
    }
    4% {
      transform: rotate(5deg);
    }
    6% {
      transform: rotate(-4deg);
    }
    8% {
      transform: rotate(3deg);
    }
    10% {
      transform: rotate(-2deg);
    }
    12% {
      transform: rotate(1deg);
    }
    14% {
      transform: rotate(-1deg);
    }
    16% {
      transform: rotate(1deg);
    }
    18% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes pause {
  }

  @keyframes wiggleSkew {
    0% {
      transform: skewX(9deg);
    }
    10% {
      transform: skewX(-8deg);
    }
    20% {
      transform: skewX(7deg);
    }
    30% {
      transform: skewX(-6deg);
    }
    40% {
      transform: skewX(5deg);
    }
    50% {
      transform: skewX(-4deg);
    }
    60% {
      transform: skewX(3deg);
    }
    70% {
      transform: skewX(-2deg);
    }
    80% {
      transform: skewX(1deg);
    }
    90% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }

  .button {
    width: 100%;
    &.cancel {
      border-color: var(--color-accent-3);
      color: var(--color-accent-3);
    }
  }
}
