:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-background-primary);

  &.double-border {
    width: 36px;
    height: 36px;
    margin-left: 2px;
    outline-width: 2px;
    outline-style: solid;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .initials {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-primary);
    border-radius: 50%;
  }
}
